.label-input {
    text-transform: capitalize;
    margin-bottom: 0.5rem;
    font-size: 0.9rem; 
}

.custom-input {
    border-width: 0;
    border-bottom-width: 1px;
    width: 100%;
    padding: 0.5rem 0;
    font-size: 0.9rem; 
    opacity: 0.8;
    transition: border-color 0.2s;
}

.custom-input:focus {
    outline: none;
    opacity: 1;
    border-bottom: 1px solid var(--theme); 
    transition: all 0.2s;
}

.custom-input::placeholder {
    color: grey;
}

@media (max-width: 768px) {
    .label-input {
        font-size: 0.85rem; 
    }

    .custom-input {
        font-size: 0.85rem; 
    }
}

@media (max-width: 480px) {
    .label-input {
        font-size: 0.75rem; 
    }

    .custom-input {
        font-size: 0.75rem;
    }
}
