.table-container {
  width: 95%;
  padding: 0rem 1rem; /* Reduced padding for smaller screens */
  margin: auto;
  overflow-x: auto; /* Enables horizontal scrolling for small screens */
}

.table-controls {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.input-flex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.input-flex input {
  padding: 0.5rem;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  width: 100%;
}

.select-input {
  width: 100%;
}

.table-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.table-actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  padding: 0.5rem 1rem;
  background-color: #1890ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #40a9ff;
}

.btn-blue {
  background-color: #40a9ff;
}

.btn-blue:hover {
  background-color: #69c0ff;
}

@media (min-width: 768px) {
  .table-controls {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .table-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 480px) { /* For small screens */
  .table-controls {
    flex-direction: column; /* Stack controls on small screens */
    gap: 0.5rem;
  }

  .table-header {
    flex-direction: column; /* Stack headers on small screens */
    gap: 0.5rem;
  }

  .btn {
    width: 100%; /* Full-width buttons on small screens */
  }
}
