.charts-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 2rem;
}

.chart-box {
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  height: 450px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .charts-wrapper {
    flex-direction: row;
    justify-content: space-around;
  }
}