@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --theme: #0E6BA8;
  --black: #000;
  --white: #fff;
  --shadow: 0px 0px 30px 8px rgba(227, 227, 227, 0.75);
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  font-family: "Montserrat", sans-serif;
}

.custom-input {
  border: 0;
  border-bottom: 1px solid #000;
  padding: 0.5rem 0;
  width: 100%;
  border-radius: 0;
  margin-top: -1rem !important;
}

.custom-input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.custom-input:focus {
  outline: none;
  opacity: 1;
  transition: all 0.3s;
}

.input-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  box-shadow: var(--shadow);
  border-radius: 0.5rem;
  padding: 0 0.5rem;
}

.input-flex input {
  width: 100%;
  padding: 0.5rem;
  border: 0;
}

.input-flex input:focus {
  outline: none;
}

.select-input {
  width: 100%; /* Full width on small screens */
  margin-right: 0; /* No margin on small screens */
  display: flex;
  align-items: center;
  box-shadow: var(--shadow);
  border-radius: 0.5rem !important;
  padding: 0.2rem 0.5rem;
}

.select-input > div {
  border: 0 solid #fff !important;
}

.search-icon {
  margin-right: 8px;
  font-size: 18px;
}

.search-input {
  flex-grow: 1;
  padding-left: 8px;
}

@media (max-width: 480px) { /* For small screens */
  .input-flex {
    flex-direction: column; /* Stack elements vertically */
  }

  .select-input {
    width: 100%; /* Full width */
    margin-bottom: 1rem; /* Space below */
  }
}
